<% @articles.each do |article| %>
  <div class="col-md-12 bg-pineapple mb-md-4 shadow rounded p-md-4 d-md-flex flex-md-wrap">
    <div class="col-md-4 p-md-0">
      <%= image_tag(article.images.first.src, class: 'w-100') %>
    </div>
    <div class="col-md-8">
      <h3><%= article.title %></h3>
      <p><%= article.description %></p>
      <div><%= link_to('See Article', article.url.to_s, target: '_blank') %></div>
    </div>
  </div>
<% end %>