<div class="articles">
  <!-- header row -->
  <div class="row mb-md-4">
    <div class="col-md-12">
      <h1>Published Articles</h1>
    </div>
  </div>

  <div class="row mb-md-4">
    <div class="col-md-12">
      <%= form_with model: @new_article, class: 'bg-pineapple form-inline col-md-12 p-md-4 shadow rounded' do |form| %>
        <div class="input-group col-md-10 pl-md-0">
          <%= form.text_field :url, class: 'form-control bg-transparent text-light', placeholder: 'Url' %>
        </div>

        <div class="input-group col-md-2 pl-md-0 pr-md-0">
          <%= form.submit 'Add', class: 'btn btn-warning btn-block' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'articles' %>
    </div>
  </div>
</div>