<% @records.each do |contact| %>
  <tr>
    <td>
      <%= raw(contact.icon) %>
    </td>
    <td>
      <%= contact.title %>
    </td>
    <td>
      <%= link_to(contact.url, contact.url, class: 'text-light') %>
    </td>
  </tr>
<% end %>