<div class="personal-info">

  <!-- Header row -->
  <div class="row mb-md-4">
    <div class="col-md-10">
      <h1>Personal Information</h1>
    </div>

    <div class="col-md-2 d-md-flex justify-content-md-end">
      <% if current_user.personal_info.nil? %>
        <%= link_to(raw('<i class="fas fa-plus"></i> Add'), new_personal_info_path, class: 'btn btn-outline-success mt-md-auto mb-md-auto') %>
      <% else %>
        <%= link_to(raw('<i class="fas fa-plus"></i> Edit'), new_personal_info_path, class: 'btn btn-outline-primary mt-md-auto mb-md-auto') %>
      <% end %>
    </div>
  </div>

  <!-- Personal Info -->
  <div class="row">
    <div class="col-md-12">
      <div class="personal bg-pineapple shadow rounded d-md-flex flex-md-wrap">
        <div class="col-md-3 pt-md-3">
          <div class="mb-md-3">
            <%= image_tag('icons/user.png', class: 'img-thumbnail rounded-circle') %>
          </div>
          <h5 class="text-center font-weight-bold">Profile Image</h5>
        </div>

        <ul class="list-group list-group-flush col-md-9 pt-md-3">
          <li class="list-group-item bg-pineapple d-md-flex">
            <h6 class="font-weight-bold col-md-2">Full Name:</h6>
            <div class="col-md-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore nihil repellendus!</div>
          </li>
          <li class="list-group-item bg-pineapple d-md-flex">
            <h6 class="font-weight-bold col-md-2">Birth Date:</h6>
            <div class="col-md-10">birth date</div>
          </li>
          <li class="list-group-item bg-pineapple d-md-flex">
            <h6 class="font-weight-bold col-md-2">Nationality:</h6>
            <div class="col-md-10">Nationality</div>
          </li>
          <li class="list-group-item bg-pineapple d-md-flex">
            <h6 class="font-weight-bold col-md-2">Description:</h6>
            <div class="col-md-10">
              <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, hic vero. Ad ducimus hic neque
                nihil sunt. Aliquid dicta ea esse eum fuga incidunt laudantium nulla sit ullam vero! Sint.
              </div>
              <div>Cum debitis dolorum et harum necessitatibus nesciunt optio saepe vero. Accusamus aliquam at est
                expedita impedit maxime non quo reprehenderit tenetur! Asperiores ea optio temporibus? Alias at ea eum
                quia.
              </div></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>