<% @projects.each do |project| %>
  <div class="col-md-12 bg-pineapple mb-md-4 shadow rounded p-md-4 d-md-flex flex-md-wrap">
    <div class="col-md-4 p-md-0">
      <% if project.img_preview.attached? %>
      <%= image_tag(project.img_preview, class: 'w-100') %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>
      <div><%= link_to('See project', project_path(project)) %></div>
    </div>
  </div>
<% end %>