$smoky-black: #1e1e2f;
$middle-red-purple: #1d1339;
$pineapple: #27293d;
$light-gray: #d5d4db;
$isabelline: #eae9ed;
$silver: #c5c5c5;
$deep-space-sparkle: #4c5b61;
$spanish-gray1: #829191;
$spanish-gray2: #949b96;
$dark-stale-gray: #2c423f;