@import "variables";

.admin {
  background: $smoky-black;
  color: $light-gray;

  .dashboard-main {
    width: 80%;

    header {
      width: 100%;
      height: 50px;

      nav {
        height: 100%;
        width: 100%;
      }
    }

    main {
      background: darkgreen;
      width: 100%;
      height: 1500px;
    }

    footer {
      background: aquamarine;
      width: 100%;
      height: 150px;
    }
  }

  .dashboard-aside {
    background-image: linear-gradient( 102.2deg,  rgba(250,45,66,1) 9.6%, rgba(245,104,104,1) 96.1% );
    width: 20%;
    max-width: 290px;
    height: 100vh;

    .profile-img {
      margin: 20px 60px;
      img {
        width: 100%;
      }
    }
  }
}