<div class="education">
  <!-- header row -->
  <div class="row mb-md-4">
    <div class="col-md-10">
      <h1>Educational Information</h1>
    </div>

    <div class="col-md-2 d-md-flex justify-content-md-end">
      <%= link_to(raw('<i class="fas fa-plus"></i> Add'), new_education_path, class: 'btn btn-outline-success mt-md-auto mb-md-auto') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="">
        here educations must be rendered
      </div>
    </div>
  </div>
</div>